# Kiosk development environment variable for API base URL
VITE_API_BASE_URL=http://api-shm-kiosk.focalat.com/

# Kiosk development environment variable for target button ID
VITE_TARGET_BUTTON_ID=YOUR_TARGET_ID
